.bannerStyle h1{
    text-align: center;
    line-height: 400px;
    background: rgba(0,0,0,.32);
    color: transparent;
    margin: 0;
    
}
.leftRs {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 30px;
    height: 30px;
    background-color: transparent;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    border-radius: 999px;
    left: 0;
}

.rightRs {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    width: 30px;
    height: 30px;
    background-color: transparent;
    box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, .3);
    border-radius: 999px;
    right: 0;
}